# os
.DS_Store

# sessions
kitty/sessions/**/*.session
!kitty/sessions/template.session

# tab configs
warp/launch_configurations/*
warp/launch_configurations/.gitkeep

# themes
kitty/themes/*
!kitty/themes/.gitkeep
